
.carousel-item {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .popular-anime {
    padding: 30px 15%;
  }
  .cards {
    height: 350px;
    overflow: hidden;
    border: 0;
    transition: ease 0.5s;
  
  }
  .cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cards:hover {
    transform: translateY(-15px);
  }
  .page-link {
    margin: 10px auto;
    background-color: #000;
    color: #fff;
  }
  
  /* footer */
  
  i{
    font-size: 2rem;
  }
  .hov {
    transition: ease-in 0.2s;
  }
  .hov:hover {
    transform: scale(1.05);
  }
  