.branding-container{
    background-color: rgb(253, 251, 251);
    color:rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
font-family: 'Times New Roman', Times, serif;
    
    font-weight: 700;
    font-size: 5rem;
}   
.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(14, 13, 13);
    color:rgb(250, 247, 247);
    list-style: none;
     padding: 14px;
  font-family:  monospace;
  font-size: 1rem;
  margin-bottom: 10px;
}  
a{
    text-decoration: none;
    color: white;
}
